@import 'components/mixins',
'components/reset',
'components/hamburger';

html {
	font                       : 400 #{$font-base}/1.4 $font;
	-webkit-font-smoothing     : antialiased;
	-webkit-overflow-scrolling : touch;
	-webkit-text-size-adjust   : none;
	-ms-text-size-adjust       : none;

	> body {
		@extend %flexdirectioncolumn;
		@extend %flex;
		color      : map-get($colors, "default");
		position   : relative;
		min-height : 100vh;
		font-size  : 15px;
		opacity    : 1
	}
}

#wrap {
	@include flex(1, 0, auto);
	overflow : hidden;
	width    : 100%
}

.googlemap {
	margin-bottom : 20px;

	img {
		max-width : none
	}
}

a {
	color : map-get($colors, "active");
}

hr {
	background : rgba(map-get($colors, "default"), .2);
	border     : 0 none;
	display    : block;
	margin     : 20px 0;
	clear      : both;
	height     : 1px;
}

.row {
	position  : relative;
	width     : $container;
	max-width : 100%;
	margin    : 0 auto;
	z-index   : 0;
	@media screen and (max-width : $container) {
		padding-right : 20px;
		padding-left  : 20px;
	}
}

header {
	.nav-icon {
		display : none
	}

	nav {
		#menu-primary {
			@extend %flex;

			> li {
				position : relative;

				> a {
					text-decoration : none;
					font-size       : 20px;
					color           : map-get($colors, "default")
				}

				& + li {
					margin-left : 36px;
				}
			}


			.menu-item-has-children {
				&:after {
					@extend .ani;
					@include triangle(4px, 6px, map-get($colors, "default"));
					vertical-align : middle;
					margin-left    : 6px;
					content        : '';
				}

				> ul {
					@extend .ani;
					@include transform(translateX(-50%) scale(.85));
					white-space : nowrap;
					background  : map-get($colors, "white");
					position    : absolute;
					visibility  : hidden;
					opacity     : 0;
					top         : 110%;
					left        : 50%;

					li {
						& + li {
							border-top : 1px solid rgba(map-get($colors, "white"), .1);
						}

						a {
							text-decoration : none;
							padding         : 5px 16px 6px;
							font-size       : 16px;
							color           : map-get($colors, "default");
							display         : block;

							&:hover {
								background : map-get($colors, "default");
								color      : map-get($colors, "white")
							}
						}
					}
				}

				&:hover {
					> a {
						opacity : .5;
					}

					> ul {
						@include transform(translateX(-50%) scale(1));
						visibility : visible;
						opacity    : 1;
						top        : 105%;
					}
				}
			}
		}
	}
}

.content {
	$hh : 1, 2, 3, 4, 5, 6;

	@each $h in $hh {
		h#{$h},
		.l-h#{$h} {
			text-transform : uppercase;
			margin-bottom  : 20px;
			line-height    : 1.2;
		}
	}

	h1,
	.l-h1 {
		font : italic 700 rem(100) $font;
	}

	h2,
	.l-h2 {
		font : italic 700 rem(70) $font;
	}

	h3,
	.l-h3 {
		font : 700 rem(46) $font;
	}

	h4,
	.l-h4 {
		font : 500 36px $font;
	}

	h5,
	.l-h5 {
		font : italic 700 22px $font;
	}

	h6,
	.l-h6 {
		font : italic 700 18px $font;
	}

	ul {
		padding-bottom : 10px;
		line-height    : 20px;
		li {
			position      : relative;
			margin-bottom : 10px;
			padding-left  : 24px;
			&:before {
				@include border-radius(50%);
				background : map-get($colors, "active");
				position   : absolute;
				height     : 10px;
				width      : 10px;
				top        : 5px;
				left       : 5px;
				content    : "";
			}
		}
	}

	article {
		@extend %flex1;

		img {
			margin-bottom : .75em;

			&.alignright {
				margin-left : 1.5em
			}

			&.alignleft {
				margin-right : 1.5em
			}

			&.alignnone {
				display        : inline-block;
				vertical-align : baseline;
				margin         : 0;
			}
		}

		.wp-video {
			margin-bottom : .75em;
			width         : auto !important;

			.mejs-video {
				width  : auto !important;
				height : auto !important;
			}
		}
	}
}

.search_box {
	@include border-radius(3px);
	@include transition();
	position : relative;
	z-index  : 99;
	margin   : 0;

	form {
		input[type="text"] {
			@include border-radius(5px);
			padding    : 0 30px 0 10px;
			border     : 1px solid #CCC;
			font       : 300 14px $font;
			color      : map-get($colors, "default");
			background : map-get($colors, "white");
			display    : block;
			width      : 100%;
			height     : 32px;
			margin     : 0;

			&:focus {
				border-color : map-get($colors, "default")
			}
		}

		button {
			@include border-radius(5px);
			background : map-get($colors, "white");
			position   : absolute;
			cursor     : pointer;
			height     : 30px;
			width      : 30px;
			max-height : none;
			max-width  : none;
			min-height : 1px;
			min-width  : 1px;
			right      : 2px;
			padding    : 0;
			border     : 0;
			top        : 1px;

			&[disabled] {
				cursor : pointer
			}

			&:before {
				@extend .ani;
				@include border-radius(50%);
				border   : 2px solid map-get($colors, "default");
				position : absolute;
				height   : 13px;
				width    : 13px;
				content  : "";
				left     : 5px;
				top      : 5px;
			}

			&:after {
				@extend .ani;
				@include transform(rotate(45deg));
				@include border-radius(3px);
				background : map-get($colors, "default");
				position   : absolute;
				width      : 10px;
				left       : 18px;
				top        : 21px;
				height     : 2px;
				content    : "";
			}

			&:hover {
				@include box-shadow(none);

				&:before {
					border-color : map-get($colors, "active")
				}

				&:after {
					background : map-get($colors, "active")
				}
			}
		}

		img {
			@include border-radius(5px);
			background : map-get($colors, "white");
			position   : absolute;
			display    : none;
			padding    : 7px;
			z-index    : 99;
			width      : 30px;
			right      : 1px;
			top        : 1px;
		}

		.close {
			@extend .ani;
			@include border-radius(5px);
			font           : 400 14px/30px "Verdana", sans-serif;
			background     : map-get($colors, "white");
			text-transform : uppercase;
			position       : absolute;
			cursor         : pointer;
			text-align     : center;
			display        : none;
			height         : 30px;
			width          : 30px;
			right          : 1px;
			top            : 1px;
			z-index        : 32;

			&:hover {
				color : map-get($colors, "active")
			}
		}
	}

	.search_result {
		position   : absolute !important;
		font       : 400 14px/20px $font;
		max-height : 240px;
		overflow   : auto;
		top        : 100%;
		z-index    : -1;
		left       : 0;
		right      : 0;

		.showsearch {
			padding    : 7px 0 0;
			margin     : -7px 0 0;
			background : map-get($colors, "white");

			&:empty {
				display : none
			}
		}

		mark {
			text-align : center;
			color      : #707070;
			display    : block;
			padding    : 10px;
		}

		p {
			border-top : 1px solid #E1E1E1;
			text-align : left;
			padding    : 0;

			&:first-child {
				border-top : 0
			}

			a {
				@extend %justifycontentspacea;
				@extend %alignitemscenter;
				@extend %flex;
				color   : map-get($colors, "default");
				padding : 5px 10px;

				img {
					width   : 40px;
					display : block;
					margin  : 0 10px 0 0;
				}

				span {
					@extend %flex1;
				}

				&:hover {
					color : #707070
				}
			}
		}
	}
}

footer {
	padding     : rem(100) 0;
	overflow    : hidden;
	line-height : 20px;
	font-size   : 14px;

	.copyright {
		@extend %justifycontentspaceb;
		@extend %flex;
		p {
			margin : 0;
			&.dev {
				position     : relative;
				text-align   : right;
				margin-right : 42px;
				b {
					text-transform : uppercase;
					font-weight    : 700;
				}
				a {
					display         : block;
					text-decoration : none;
					&:hover {
						opacity : .5;
					}
					small {
						display : block;
					}
					img {
						@include transform(translateY(-50%));
						position : absolute;
						width    : 30px;
						left     : 105%;
						top      : 50%;
					}
				}
			}
		}
	}
}

.wpa_slideshow {
	position      : relative;
	margin-bottom : 20px;

	.swiper-pagination-bullet-active {
		background : map-get($colors, "active")
	}

	.swiper-button-disabled {
		visibility : hidden;
		opacity    : 0;
	}

	img {
		@extend .aligncenter;
		margin-bottom : 0 !important
	}
}

.fancybox-modal-content {
	width     : $container - 200px;
	max-width : 100%;
	display   : none;
}