body, html {
/*
    position: absolute;
    min-height: 100%;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
*/
    min-height: 100%;
}
body {
    background: url(//c2.staticflickr.com/6/5835/31188788822_e7b6257973_o_d.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.login form {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    color: #fff;
    border: 0;
}
.login h1 a {
    background-image: url(logo.svg);
    height: 95px;
}
.login label {
    -webkit-user-select: none;
    user-select: none;
    font-weight: 100;
    color: #fff;
}
.login form .input {
    border: 0;
    border-bottom: 1px solid rgba(255,255,255, .5);
    padding: 5px 10px 10px;
    background: none;
    color: #fff;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none
}
.login form .input:focus {
    border-bottom-color: #ede502
}
#login form p.submit {
    padding: 6px 0 0
}
.mobile #login {
    max-width: 100%;
}
.login #backtoblog a:hover,
.login #nav a:hover,
input[type=checkbox]:checked:before {
    color: #ede502;
}
.wp-core-ui #loginform .button.button-large,
.login #backtoblog a,
.login #nav a,
.login form .input {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.wp-core-ui #loginform .button.button-large {
    background: rgba(0,0,0, .5);
    text-transform: uppercase;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0px 22px 0;
    line-height: 39px;
    text-shadow: none;
    font-weight: 100;
    box-shadow: none;
    height: 40px;
    border: 0
}
.wp-core-ui #loginform .button.button-large:hover {
    background: #ede502;
    color: #000
}
.wp-core-ui p.forgetmenot {
    padding: 15px 0 0;
}

.login form input[type=checkbox] {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #fff;
    background: #000;
    color: #000;
}
