$system-ui: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font: 'Museo Sans Cyrl', $system-ui;

$container: 1180px;
$font-base: 50px;

$active: #3498db;
$default: #333;
$red: #f65445;
$white: #fff;
